<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.hnogames.domoticz">

    <uses-feature android:name="android.hardware.type.watch" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WearActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ErrorActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".SendActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".app.DomoticzActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>

    </application>

</manifest>
