<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.hnogames.domoticz">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <permission
        android:name="nl.hnogames.domoticz.premium.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="nl.hnogames.domoticz.premium.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_domoticz"
        android:theme="@style/AppThemeMain"
        tools:replace="android:icon, android:label, android:theme, android:name">

        <activity android:name=".Service.NFCServiceActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_list" />
        </activity>

        <service android:name=".Service.GeofenceTransitionsIntentService" />
        <service android:name=".Service.WearMessageListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.TaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <receiver android:name=".Service.WidgetProviderLarge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </receiver>
        <receiver android:name=".Service.WidgetIntentReceiver">
            <intent-filter>
                <action android:name="nl.hnogames.domoticz.Service.WIDGET_TOGGLE_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </receiver>
        <receiver android:name=".Service.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </receiver>

        <activity
            android:name=".WidgetConfigurationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Domoticz Widget Config">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".WidgetActionActivity"
            android:configChanges="orientation|screenSize"
            android:label="Domoticz Widget Action" />

        <service android:name=".Service.WidgetProviderLarge$UpdateWidgetService" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_domoticz"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settingsActivity_name"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cameraActivity_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GraphActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/wizard_graph"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PlanActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cameraActivity_name"
            android:parentActivityName=".PlanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ServerSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.SettingsActivity" />
        </activity>
        <activity
            android:name=".GeoSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.GeoSettingsActivity" />
        </activity>
        <activity
            android:name=".NFCSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/category_nfc"
            android:parentActivityName=".SettingsActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRCodeSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/category_QRCode"
            android:parentActivityName=".SettingsActivity"></activity>
        <activity
            android:name=".QRCodeCaptureActivity"
            android:label="@string/category_QRCode"
            android:parentActivityName=".QRCodeSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ServerListSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.ServerListSettingsActivity" />
        </activity>
        <activity
            android:name=".Welcome.WelcomeViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/welcome_title_activity_welcome"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleapikey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".UpdateActivity"
            android:label="@string/title_activity_update"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.MainActivity" />
        </activity>
    </application>

</manifest>