<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 Domoticz - Mark Heinis
  ~
  ~  Licensed to the Apache Software Foundation (ASF) under one
  ~  or more contributor license agreements.  See the NOTICE file
  ~  distributed with this work for additional information
  ~  regarding copyright ownership.  The ASF licenses this file
  ~  to you under the Apache License, Version 2.0 (the
  ~  "License"); you may not use this file except in compliance
  ~  with the License.  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing,
  ~  software distributed under the License is distributed on an
  ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  KIND, either express or implied.  See the License for the
  ~  specific language governing permissions and limitations
  ~  under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.hnogames.domoticz" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false"  />
    <uses-feature android:name="android.hardware.location" android:required="false"  />
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.fingerprint" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <permission
        android:name="nl.hnogames.domoticz.premium.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="nl.hnogames.domoticz.premium.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_domoticz"
        android:theme="@style/AppThemeMain"
        tools:replace="android:icon, android:label, android:theme, android:name" >

        <activity android:name=".Service.NFCServiceActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="domoticz"
                    android:scheme="app" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_list" />
        </activity>

        <service android:name=".Service.RingtonePlayingService" />

        <receiver
            android:name="nl.hnogames.domoticz.Service.LocationProviderChangedReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.location.MODE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.WearMessageListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <data
                    android:host="*"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service android:name=".Service.StopAlarmButtonListener" />

        <service
            android:name=".Service.TaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <receiver android:name=".Widgets.WidgetProviderLarge" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </receiver>

        <service android:name=".Widgets.WidgetIntentService" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </service>

        <service
            android:name=".Service.FCMInstanceService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Service.FCMMessageInstanceService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Widgets.WidgetConfigurationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Domoticz Widget Config" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name=".Widgets.WidgetProviderLarge$UpdateWidgetService" />

        <receiver android:name=".Widgets.WidgetProviderSmall" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/smallwidgetprovider" />
        </receiver>

        <activity
            android:name=".Widgets.SmallWidgetConfigurationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Domoticz Widget Config" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name=".Widgets.WidgetProviderSmall$UpdateWidgetService" />

        <activity
            android:name=".Widgets.SecurityWidgetConfigurationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Domoticz Security Panel Widget Config" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".Widgets.SecurityWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/securitywidgetprovider" />
        </receiver>

        <service android:name=".Widgets.SecurityWidgetIntentService" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/securitywidgetprovider" />
        </service>

        <service android:name=".Widgets.SecurityWidgetProvider$UpdateSecurityWidgetService" />
        
        <receiver android:name=".Service.BootUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service android:name="nl.hnogames.domoticz.Service.GeofenceTransitionsIntentService" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_domoticz"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter android:label="@string/app_name_domoticz">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.domoticz.com/open” or https -->
                <data android:scheme="http"
                    android:host="www.domoticz.com"
                    android:pathPrefix="/open" />
                <data android:scheme="https"
                    android:host="www.domoticz.com"
                    android:pathPrefix="/open" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "domoticz://open” -->
                <data android:scheme="domoticz"
                    android:host="open" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settingsActivity_name"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cameraActivity_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".GraphActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/wizard_graph"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PlanActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cameraActivity_name"
            android:parentActivityName=".PlanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ServerSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.SettingsActivity" />
        </activity>

        <activity
            android:name=".GeoSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.GeoSettingsActivity" />
        </activity>

        <activity
            android:name=".NFCSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/category_nfc"
            android:parentActivityName=".SettingsActivity" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SpeechSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/category_Speech"
            android:parentActivityName=".SettingsActivity" />

        <activity
            android:name=".QRCodeSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/category_QRCode"
            android:parentActivityName=".SettingsActivity" />

        <activity
            android:name=".QRCodeCaptureActivity"
            android:label="@string/category_QRCode"
            android:parentActivityName=".QRCodeSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ServerListSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.ServerListSettingsActivity" />
        </activity>

        <activity
            android:name=".Welcome.WelcomeViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/welcome_title_activity_welcome"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleapikey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".UpdateActivity"
            android:label="@string/title_activity_update"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hnogames.domoticz.MainActivity" />
        </activity>

        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/title_add_location"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".GeoSettingsActivity"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeoSettingsActivity" />
        </activity>
    </application>

</manifest>